<a href="https://colab.research.google.com/github/aahanatiwari/make-a-pr/blob/master/Python_ML_Research.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import numpy as np
import pandas as pd

In [7]:
df = pd.read_csv('/content/sample_data/flipkart_reviews_large_dataset_sample.csv')

In [8]:
df

,ProductUrl,productTitle,productPrice,averageRating,reviewTitle,reviewDescription,reviewAuthor,reviewAt,reviewLikes,reviewDislikes,certifiedBuyer,reviewerLocation,fiveStarRatingCount,fourStarRatingCount,threeStarRatingCount,twoStarRatingCount,oneStarRatingCount,reviewImages,scrapedAt,uniqId
0,https://www.flipkart.com/samsung-galaxy-nxt-go...,"SAMSUNG Galaxy On Nxt (Gold, 16 GB)","₹9,499",4.3,Just wow!,unbelievable,KOUSIK DUTTA,"Aug, 2018",0,0,True,Burdwan,"2,20,147","83,936","30,026","10,267","21,199",NaN,21-02-2022 00:57,db7fc5e1-684d-5d92-a41b-25e40f37c0fe
1,https://www.flipkart.com/samsung-galaxy-nxt-go...,"SAMSUNG Galaxy On Nxt (Gold, 16 GB)","₹9,499",4.3,Awesome,good mobile,Flipkart Customer,"Aug, 2018",0,0,True,Kurnool,"2,20,147","83,936","30,026","10,267","21,199",NaN,21-02-2022 00:57,a2661c23-13b4-5823-959d-4324b9442056
2,https://www.flipkart.com/samsung-galaxy-nxt-go...,"SAMSUNG Galaxy On Nxt (Gold, 16 GB)","₹9,499",4.3,Does the job,good,Rakesh Ranjan,"Aug, 2018",0,0,True,Noida,"2,20,147","83,936","30,026","10,267","21,199",NaN,21-02-2022 00:57,0f2d6a35-7f63-57f8-8d20-0c8ab3141c74
3,https://www.flipkart.com/samsung-galaxy-nxt-go...,"SAMSUNG Galaxy On Nxt (Gold, 16 GB)","₹9,499",4.3,Good,it's good,PabiT Gouda,"Aug, 2018",0,0,True,Behror,"2,20,147","83,936","30,026","10,267","21,199",NaN,21-02-2022 00:57,f39db306-aca5-5c62-a75b-a9248de9566f
4,https://www.flipkart.com/samsung-galaxy-nxt-go...,"SAMSUNG Galaxy On Nxt (Gold, 16 GB)","₹9,499",4.3,Wonderful,very nice,Sujal Patel,"Aug, 2018",0,0,True,Dharampur,"2,20,147","83,936","30,026","10,267","21,199",NaN,21-02-2022 00:57,27d2b3b2-7034-52b8-9b64-df5778853f44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
669,https://www.flipkart.com/apple-iphone-12-blue-...,"APPLE iPhone 12 (Blue, 128 GB)","₹64,999",4.7,Highly recommended,amazing experience moving from android to ios,sidharth gurjar,3 months ago,0,0,True,Raja Sansi,"1,29,344","20,895","4,588","1,637","5,381",NaN,21-02-2022 00:57,4fe5dd26-5fd1-5a2d-a401-d2c2791bc53b
670,https://www.flipkart.com/zebronics-wireless-to...,ZEBRONICS Wireless Totem 3 Wireless Optical Mouse,₹374,3.7,Awesome,The product is so cheap and it is working prop...,Hyma Gumpu,"Jan, 2015",0,0,True,Vishakhapatnam,705,397,249,136,214,NaN,21-02-2022 00:57,81e2bf7d-1e4d-5adc-8dea-e419e77d4565
671,https://www.flipkart.com/apple-iphone-12-blue-...,"APPLE iPhone 12 (Blue, 128 GB)","₹64,999",4.7,Pretty good,Mind blowing camera,Vikas Kumar,3 months ago,0,0,True,Samastipur District,"1,29,344","20,895","4,588","1,637","5,381",NaN,21-02-2022 00:57,6ad5677e-85b1-5c85-8dcc-93e8b612c97a
672,https://www.flipkart.com/zebronics-wireless-to...,ZEBRONICS Wireless Totem 3 Wireless Optical Mouse,₹374,3.7,NaN,"got a defected moues at first ,flipkart replac...",viresh gupta,"Jan, 2015",0,0,True,Ghaziabad,705,397,249,136,214,NaN,21-02-2022 00:57,e976ceae-4818-5456-9491-aaf38dc340ed
673,https://www.flipkart.com/mmshopy-heavy-duty-ad...,MMShopy Heavy Duty Adjustable Smartphone Phone...,₹219,4.1,Best in the market!,Excellent quality,Indrala Lakshmi Narayana,14 days ago,0,0,True,Metpally,"3,473","1,778",877,350,497,https://rukminim1.flixcart.com/blobio/124/124/...,21-02-2022 00:57,bd1f5cd5-b465-55c3-b5b4-a08579e179af

In [9]:
df.columns

Index(['ProductUrl', 'productTitle', 'productPrice', 'averageRating',
       'reviewTitle', 'reviewDescription', 'reviewAuthor', 'reviewAt',
       'reviewLikes', 'reviewDislikes', 'certifiedBuyer', 'reviewerLocation',
       'fiveStarRatingCount', 'fourStarRatingCount', 'threeStarRatingCount',
       'twoStarRatingCount', 'oneStarRatingCount', 'reviewImages', 'scrapedAt',
       'uniqId'],
      dtype='object')

In [10]:
df.describe()

       averageRating  reviewLikes  reviewDislikes
count     674.000000   674.000000      674.000000
mean        4.259347     0.670623        0.290801
std         0.222995     5.236584        3.097476
min         3.600000     0.000000        0.000000
25%         4.100000     0.000000        0.000000
50%         4.300000     0.000000        0.000000
75%         4.400000     0.000000        0.000000
max         4.700000    72.000000       64.000000

In [15]:
df.dtypes

ProductUrl               object
productTitle             object
productPrice             object
averageRating           float64
reviewTitle              object
reviewDescription        object
reviewAuthor             object
reviewAt                 object
reviewLikes               int64
reviewDislikes            int64
certifiedBuyer             bool
reviewerLocation         object
fiveStarRatingCount      object
fourStarRatingCount      object
threeStarRatingCount     object
twoStarRatingCount       object
oneStarRatingCount       object
reviewImages             object
scrapedAt                object
uniqId                   object
dtype: object